<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to the mini message board</h1>

    <% for (let i= 0; i< message.length; i++) { %>
    <div class="eachMessage">
      <h2>User: <%= message[i].user %></h2>
      <div>Text: <%= message[i].text %></div>
      <div>Date: <%= message[i].added %></div>
      <a href="/message/<%= i %>">Open</a>
    </div>
    <br />
    <% } %>

    <a href="/new">Add Message</a>
  </body>
</html>
